/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
  margin: 25px;
  background-color: #ffcdd2;
}

h1 {
  font-weight: bold;
  color: #F5F5F5;
  letter-spacing: 3px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

h2 {
  text-align: center;
  color: #ffcdd2;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.search {
  padding-bottom: 25px;
}

.form {
  padding-top: 25px;
  padding: 15px;
  background-color: #F5F5F5;
  display: table;
  width: 50%;
  margin: 0 auto;
  max-width: 340px;
  border-radius: 10px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  color: #424242;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: #ffcdd2;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
  display: table;
  margin: 0 auto;
  transition: all 0.2s;
}

button:hover {
  background-color: #FFF9C4;
  transition: all 0.1s;
}

button:active {
  box-shadow: none;
}

.results {
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 0 10px;
  display: table;
  margin: 0 auto;
  width: 50%;
}

.results ul {
  border-radius: 2px;
  list-style: none;
  padding-left: 0;
}

.results ul li {
  padding-left: 0;
  padding: 0 10px;
}

.results h3 {
  padding-top: 10px;
}

.results h3 a {
  text-decoration: none;
  color: #424242;
  border-left: 3px solid teal;
  padding-left: 10px;
  transition: all 0.2s;
}

.results h3 a:hover {
  color: #ff8a80;
  transition: all 0.1s;
}

.results p {
  color: #424242;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
  letter-spacing: 0.6px;
  font-style: italic;
}
